<%= form_for @user, url: @user.new_record? ? users_admin_index_path(@user) : users_admin_path(@user) do |f| %>
      <div class="field"> 
      <%= f.label :first_name %><br/>
      <%= f.text_field :first_name %>
      </div> 
      <div class="field"> 
      <%= f.label :last_name %><br/>
      <%= f.text_field :last_name %>
      </div> 
      <div class="field"> 
      <%= f.label :email, "Email Address" %><br/>
      <%= f.text_field :email %>
      </div> 
      <div class="field"> 
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
      </div> 
      <div class="field"> 
      <%= f.label :password_confirmation, "Confirm Password" %><br/>
      <%= f.password_field :password_confirmation %>
      </div> 
      <div class="field"> 
      <%= f.label :Permissions %><br/>
      <% for role in User::ROLES %>
          <%= check_box_tag "user[roles][]", role, @user.roles.include?(role) %>
          <%= h role.humanize %><br/>
      <% end %>
      <%= hidden_field_tag "user[roles][]", "" %>
      </div> 
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>