<p>Already have an account?</p>

<%= form_for @user, url: users_admin_index_path(@user) do |f| %>
    <p>
      <%= f.label :first_name %><br/>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %><br/>
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :email, "Email Address" %><br/>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation, "Confirm Password" %><br/>
      <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <%= f.label :Permissions %><br/>
      <% for role in User::ROLES %>
          <%= check_box_tag "user[roles][]", role, @user.roles.include?(role) %>
          <%= h role.humanize %><br/>
      <% end %>
      <%= hidden_field_tag "user[roles][]", "" %>
    </p>
    <p><%= f.submit "Create" %></p>
<% end %>
