<%= form_for(@request_info) do |f| %>
  <% if @request_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request_info.errors.count, "error") %> prohibited this request_info from being saved:</h2>

      <ul>
      <% @request_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :'How did you hear about us' %><br>
    <%= f.text_area :comments %>
  </div>
  <div class="field">
    <%= f.label :"How can we help you" %><br>
    <%= f.text_area :query %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
